@import "../../index.scss";

.profileWrapper {
  max-width: 1700px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  .accTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    font-size: clamp(16px, 2.2vw, 24px);
    font-weight: 900;
    margin-bottom: 30px;
    width: 96%;
    margin: 0 auto;
    div {
      padding: 10px;
      border-radius: 50%;
      background: #00000029;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        font-size: clamp(60px, 10vw, 100px);
        color: #000;
      }
    }
  }
  .profileOrder {
    width: 96%;
    margin: 0 auto;
    font-size: clamp(16px, 2.2vw, 22px);
    font-family: $primary-font;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid #00000029;
    margin-top: 40px;
    a {
      font-size: 15px;
    }
  }
  .logoutWrapper {
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    button {
      font-family: $primary-font;
      font-size: 26px;
      font-weight: 600;
      padding: 12px 24px;
      background: $light-yellow;
      box-shadow: 6px 6px 1px #000;
      border: 1px solid #00000029;
      transition: all 0.3s ease;
      &:hover {
        background: $light-pink1;
      }
    }
  }
  .wishlistWrapper {
    background: #ffeaa0;
    padding: 30px 0;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    min-height: 500px;
    .wishTitle {
      font-family: $primary-font;
      font-size: clamp(30px, 7vw, 50px);
      letter-spacing: 0.5px;
    }

    .cardWrapper {
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      row-gap: 50px;
      .wishCard {
        position: relative;
        width: 330px;
        background: #fff;
        box-shadow: 6px 5px 2px #000;
        height: 400px;
        padding: 20px 13px;
        padding-top: 33px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        .imgWrapper {
          width: 150px;
          height: 150px;
          margin: 0 auto;
          img {
            object-fit: contain;
            max-height: 100%;
            width: 100%;
          }
        }
        .cardTitle {
          font-family: $primary-font;
          font-size: clamp(14px, 1.6vw, 16px);
          font-weight: 600;
          display: flex;
          flex-direction: column;
          gap: 20px;
          p {
            &:last-child {
              font-size: 24px;
              align-self: center;
              font-weight: 900;
              color: #2522227e;
            }
          }
        }
        .wishlistRemove {
          position: absolute;
          right: 15px;
          top: 15px;
          font-size: 30px;
          color: #9e7e0a;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .profileWrapper {
    .wishlistWrapper {
      .cardWrapper {
        width: 100%;
        justify-content: space-around;
        .wishCard {
          width: 44%;
          min-width: 330px;
          max-width: initial;
        }
      }
    }
  }
}
