@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
$primary-font: "JetBrains Mono", monospace;
$secondary-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$tertiary-font: "Londrina Shadow", cursive;
$font-italic: "Marck Script", cursive;
$light-purple1: #f2ecff;
$light-pink: #ffecec;
$light-pink1: #ffecf6;
$light-green: #ecfffa;
$light-yellow: #fffdec;
img {
  max-width: 100%;
}
.toastCont {
  z-index: 99994239923492944;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}
body {
  font-family: $primary-font;
}
a {
  color: inherit;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.flex button {
  width: 200px;
  height: 60px;
  background: #efefef;
  color: red;
  box-shadow: 3px 3px 2px #3333;
}
